<h1>Welcome <%= @user.full_name %></h1>
<%#= button_to "Log out", logout_path, :method => :delete %>

<h2>Add Places You Have Lived, Visited And Want To Go!</h2>

<%= link_to "Add Places", new_place_path, :class => "btn btn-primary" %>


<div class="beento">
  <h2>Places You've Visited And Lived!</h2>
  <% @user.visited_places.each do |place| %>
  <ul>
    <li>
      <%= link_to "#{place.city}", place_path(place) %>
    </li>

  </ul>

  <% end %>

</div>

<div class="someday">
  <h2>Places You Will Go To Someday</h2>
  <% @user.will_go_to_someday.each do |place| %>
  <ul>
    <li>
      <%= link_to "#{place.city}", place_path(place) %>
    </li>
  </ul>
  <% end %>

</div>
