// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup {
  margin-top: 10px;

}

.been_to {
  margin-left: 20%;
  text-align: center;
  float: left;
}

.all_places {
  margin-top: 3em;
}
