<h1>All Places</h1>


  <!-- <div class="container">
    <div class="row">

      <% @places.each do |place| %>
      <div class='all_places'>
        <%= link_to place.city, place_path(place) %> •
      </div>
      <% end %>

  </div>
</div> -->

<div class="container">
  <div class="row">

    <% @places.each do |place| %>
    <div class='all_places'>
      <%= link_to place.city, place_path(place) %> •
    </div>
    <% end %>

</div>
</div>
