<h1>All Places</h1>


  <div class="container">
    <div class="row">

      <% @places.each do |place| %>
      <span>
        <%= link_to place.city, place_path(place) %> ||
      </span>
      <% end %>

      <div class="col">Column</div>
    </div>
  </div>
